body {

  background-color: #FFFF66;
}

#main {

  background-color: #FFFF66;
}



#menu-main {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  
  
  font-family: 'Roboto', sans-serif;
  

}



#menu-burgers {

  

  background-position: center;
  background-repeat: repeat;
  background-size: cover; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.menu-nav-options {
  
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-between;
  
  
}

#menu-display {

  margin: 20px 0px 20px 0px;
}

.menu-nav-list {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  border-color: rgb(138, 138, 138);
  border-width: 1px;
  border-style: solid;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2px;
  box-shadow: 3px 7px;
  background-color: white;
}

.menu-nav-list:hover {

  
  background: repeating-linear-gradient(45deg, #FF1493 , #FF1493 20px, white 20px,white 40px );
  cursor: pointer;
}

.menu-nav-list:active {
  background: repeating-linear-gradient(45deg, #FF1493 , #FF1493 20px, white 20px,white 40px );
  cursor: pointer;
  box-shadow: 0px 1px;
  transform: translateY(3px);
  transform: translateX(3px);

}

@media only screen and (max-width: 1200px) {
  #header-info {
    width: 100%;
   
    
  
  }
  .carr {
  
    width: 100%;
    height: auto;
  
  }

  .menu-nav-list {
    margin: 10px 0px 10px 0px ;
    font-size: 1em;
    

  }

  .menu-nav-options {
    width: 100%;
    
  }

}

@media only screen and (min-width: 1200px) {
  #header-info {
    width: 1200px;
  
  }
  .carr {
  
    width: 100%;
    height: auto;
  
  }

}